/* # GLOBAL BODY # */

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  font-family: "Nunito", sans-serif;
}
h1 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

label {
  color: #545454 !important;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}
section {
  padding-top: 20px;
  margin-top: 10px;
}

.form-control {
  border: 1px solid #868686;
  box-sizing: border-box;
  box-shadow: 0 4px 18px rgba(133, 133, 133, 0.25);
  border-radius: 47px;
  height: 52px;
}

hr {
  border: 3px solid #366db4;
  max-width: 60%;
  margin-left: 0;
}

@media (max-width: 575.98px) {
  label {
    font-size: 16px;
  }
  .form-control {
    height: 42px;
  }
}
/* {
    # NAVBAR #
} */

@media (min-width: 992px) {
  .navbar {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 768px) {
  .navbar .navbar-collapse {
    text-align: center;
  }

  .navbar-light .navbar-nav .nav-link {
    margin-left: 0 !important;
    margin-top: 15px;
  }
}

.navbar {
  background-color: white !important;
  box-shadow: 0 0 8px 1px #b4b4b4;
}
.navbar-light .navbar-nav .nav-link {
  margin-left: 25px;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  color: #767676;
}

.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
}

.navbar-light .navbar-nav .login {
  color: #366db4 !important;
}

button {
  padding: 10px 24px;
  border: 0;
  outline: none !important;
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: #366db4;
  border-radius: 20px;
  font-family: "Nunito", sans-serif;
  transition: 0.3s ease all;
  width: 160px;
}

button:hover {
  background-color: #97ccef;
  box-shadow: 0 1px 2px #a9dbd181, 0 4px 4px #a9dbd181;
  transform: translateY(-2px);
}

/* {
    # INDEX ou bien HOME #
} */
#presentation {
  margin-top: 4%;
}
#presentation .bloc {
  height: 100%;
}
#presentation .block-blue {
  background: #97ccef;
  height: 600px;
}
@media (min-width: 1200px) {
  #presentation .block-blue .m-xl-5 {
    margin: 6rem !important;
  }
}

#presentation .block-image {
  overflow: hidden;
}
#presentation .col-xl-6 {
  padding: 0 !important;
}

#presentation h1 {
  color: #366db4;
  font-size: 40px;
  padding-bottom: 10px;
}

#presentation p {
  color: white;
  font-size: 30px;
}

#presentation button {
  margin-top: 8%;
  background: #5bb572;
  width: 310px;
  border-radius: 20px;
  height: 56px;
}

#description h1 {
  color: #366db4;
  text-align: center;
}

#description h3 {
  color: #97ccef;
  padding-top: 10%;
  line-height: 1.5;
}
#features h1 {
  color: #366db4;
}

#features p {
  font-size: 30px;
  color: #97ccef;
}
#gallery h1 {
  color: #5bb572;
}

#footer .col {
  background-color: #366db4;
  color: white;
  width: 100%;
}

@media (max-width: 768px) {
  #presentation .block-image {
    height: 300px;
  }

  #presentation .block-image img {
    top: -169px;
    position: relative;
  }
}

/* {
    # LOGIN #
} */
#login .block-blue {
  background: #97ccef;
  height: 100vh;
  overflow: hidden;
}
#login .block-blue p {
  margin-top: 15%;
}
#login .block-blue a {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

#login .contenu {
  padding: 15% 10% 0;
}

#login button {
  margin-top: 8%;
  background: #5bb572;
  width: 310px;
  border-radius: 20px;
  height: 56px;
}

#login h1 {
  color: #366db4;
}

#login form a {
  color: #366db4;
}

#login a {
  color: #97ccef;
}

#login img {
  position: absolute;
  top: 270px;
  width: 750px;
  right: -90px;
}

@media (max-width: 575.98px) {
  #login p {
    font-size: 13px;
  }

  #login .contenu {
    padding: 25% 0 0;
  }

  #login button {
    width: 100%;
  }
}

/* {
    # REGISTER #
} */
#register .circle-right:before {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
}

#register .circle-right {
  display: block;
  position: absolute;
  content: "";
  border-radius: 0 0 0 100%;
  width: 120px;
  height: 140px;
  background: #97ccef;
  right: 0;
  top: 10vh;
  z-index: -10;
  top: 0;
}
#register .circle-left:before {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
}

#register .circle-left {
  display: block;
  position: absolute;
  content: "";
  width: 120px;
  height: 120px;
  background: #97ccef;
  border-radius: 0 100% 0 0;
  z-index: -10;
  left: 0;
}

#register .register {
  padding: 5% 10% 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

#register a {
  color: #97ccef;
}

#register h1 {
  color: #366db4;
}

#register .container-button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
}

#register .already_sign {
  text-align: right;
}

#register .p-password {
  font-size: 14px;
  color: #e03030;
}

@media (max-width: 575.98px) {
  #register .register {
    padding: 25% 0 0;
  }
}
